
@font-face {
  font-family: NotoSansSC;
  src: url('../font/NotoSansSC-Light.otf');
}
@font-face {
  font-family: Crosterian;
  src: url('https://pixijs.com/assets/webfont-loader/Crosterian.woff2');
}



html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  color: rgb(48 49 51);
  width: 100%;
}

