@font-face {
  font-family: "iconfont"; /* Project id 4393121 */
  src: url('iconfont.woff2?t=1706445960017') format('woff2'),
       url('iconfont.woff?t=1706445960017') format('woff'),
       url('iconfont.ttf?t=1706445960017') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e600";
}

.icon-user:before {
  content: "\e6c0";
}

.icon-done:before {
  content: "\e60e";
}

.icon-loop:before {
  content: "\e66d";
}

.icon-telphone:before {
  content: "\e6f8";
}

.icon-id-card:before {
  content: "\e6f9";
}

.icon-right:before {
  content: "\e62a";
}

.icon-yun_shu:before {
  content: "\e6f7";
}

.icon-jian_yi:before {
  content: "\e6f5";
}

.icon-ru_lan:before {
  content: "\e6f6";
}

.icon-close:before {
  content: "\e630";
}

.icon-search:before {
  content: "\e631";
}

.icon-pig:before {
  content: "\e642";
}

.icon-left:before {
  content: "\e62b";
}

.icon-plus:before {
  content: "\e61f";
}

